---
pageable: true
---

- content_for :title do
  = "Dotide Official Blog - #{tagname}"

.articles.small-12.large-9.columns.left
  - page_articles.each_with_index do |article, i|
    - if i > 0
      %hr/
    = partial '/en/article', :locals => {:article => article, :digest => true}
%aside.aside.small-12.large-3.columns.right
  %h3= tagname

= partial '/en/pagination', :locals => { |
    :paginate => paginate,               |
    :next_page => next_page,             |
    :prev_page => prev_page,             |
    :num_pages => num_pages,             |
    :page_number => page_number          |
  }                                      |
