---
pageable: true
---

- content_for :title do
  = "Dotide 官方博客 - #{tagname}"

.articles.small-12.large-9.columns.left
  - page_articles('cn').each_with_index do |article, i|
    - if i > 0
      %hr/
    = partial '/cn/article', :locals => {:article => article, :digest => true}
  = partial '/cn/pagination', :locals => { |
      :paginate => paginate,               |
      :next_page => next_page,             |
      :prev_page => prev_page,             |
      :num_pages => num_pages,             |
      :page_number => page_number          |
    }                                      |
%aside.aside.small-12.large-3.columns.right
  %h3= tagname
  .divider
  %ul.no-bullet.media
    %li
      = link_to 'http://weibo.com/dotide' do
        %i.icon-weibo
        = "@Dotide"
    %li
      = link_to 'https://twitter.com/dotidehq' do
        %i.icon-twitter-sign
        = "@Dotidehq"
    %li
      = link_to 'https://www.facebook.com/dotidehq' do
        %i.icon-facebook-sign
        = "@Dotide"
    %li
      = link_to 'https://github.com/dotide' do
        %i.icon-github
        = "Dotide"
    %li
      = link_to 'http://weixin.qq.com/' do
        = image_tag('qrcode_wx.jpg')
